@import '../../global/global.scss';

.BackgroundImage{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
	mix-blend-mode: luminosity;
	opacity: .4;
	.ImageWrap{
		width: 100%;
    height: 100%;
    background-size: cover;
	}
}