@import '../../global/global.scss';
$animationInterval: .05s;
.Admin{
	margin: 0;
	animation: slideUp .5s ease-in-out;
	.adminItem{
		display: block;
		padding: 8px;
		// border: 1px dotted #ccc;
		margin-bottom: 8px;
		width: 100%;
		background: rgba(255,255,255,.6);
		box-shadow: $cardShadow;
		&:hover{
			background: #fff;
			cursor: pointer;
			box-shadow: $cardShadowHover;
			.iconWrap{
		    border: 6px solid #eee;
		    transform: scale(1.1);
			}
		}
		.theButtons{
			display: block;
			position: relative;
			width: 100%;
			.iconWrap{
				float: right;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				border: 2px solid #7e7e7e;
				padding: 12px;
				margin-top: 8px;
				transition: transform .3s ease-in-out, border .3s ease-in-out;

			}			
		}
		opacity: 0; //changed when visible
		transition: .2s opacity ease;

		&.isVisible{
			opacity: 1;
			transition: .3s opacity ease;
		  animation: slideAcross .3s ease-in-out;
		  @for $i from 1 through 24 {
		    &:nth-child(#{$i}) { 
		     animation-delay: $animationInterval * $i;
		     transition-delay: $animationInterval * $i;
		    }
		  }
			// animation-name: slideAcross;
			// animation-timing-function: ease-in-out; 
		}
	}
	.additionalItem{
		display: block;
		width: 100%;	
		border-bottom: 1px dashed #ccc;
	}
	.userIconsWrap{
		display: block;
		width: 100%;
		height: 32px;
	}
	.userIconSlice{
		position: relative;
		left: 0;
		top: 0;
		display: inline-block;
		vertical-align: middle;
		width: 24px;
		margin-left: 2px;
	}
}
// SLIDE IN ANIMATION
@keyframes slideAcross {
  from {
   	opacity: 0;
    transform: translateX(24px);
  }
  to {
   	opacity: 1;
    transform: translateX(0px);
  }
}