@import '../../global/global.scss';

.AdminEdit{
	animation: slideUp .5s ease-in-out;
	display: block;
	width: 100%;
	margin: 16px 0;
	border-radius: 4px;
	background: #fff;
	box-shadow: $cardShadow;
	padding: 24px;
	animation: slideUp .5s ease-in-out;
	.colorDemo{
		width: 32px;
		height: 24px;
		border: 2px solid white;
		box-shadow: 0 0 5px -1px rgba(0,0,0,.5);
		cursor: pointer;
	}
	.colorPickerWrap{
		position: relative;
		width: 20px;
		height: 1px;
		overflow: visible;
	}
	.exampleIconWrap{
		width: 40px;
		height: 40px;
		display: block;
		background: #ccc;
		color: #fff;
		text-align: center;
		line-height: 40px;
		font-size: 16px;
		border-radius: 100%;
	}
	// USERS
	.assignedUser{
		display: block;
		padding: 8px;
		background: #ccc;
		border-radius: 4px;
		margin-right: 4px;
	}
	.userButton{
		// background: rgba(0,0,0,.05);
		padding: 8px 16px;
		border-radius: 4px;
		margin-bottom: 8px;
		margin-right: 16px;
		display: inline-block;
		position: relative;
		&:hover{
			background: #fff;
			cursor: pointer;
		}
		.userAction{
			background: $nomosLightGrey;
			border-radius: 100%;
			width: 22px;
			height: 22px;
			padding: 3px;
			border: 2px solid #f9f9f9;
			position: absolute;
			right: -8px;
			top: 0;
		}
		&.active{
			background: $nomosGreen;
			.userAction{
				background: #fff;
				padding: 3px;
				border: 2px solid $nomosGreen;
			}
			&:hover{
				background: lighten($nomosGreen, 5%);
			}
		}
	}
}

// SLIDE IN ANIMATION
@keyframes slideUp {
  from {
   	opacity: 0;
    transform: translateY(24px);
  }
  to {
   	opacity: 1;
    transform: translateY(0px);
  }
}