@import "_variables.scss";
// @import './fonts.scss';

$textColor: 			#333;
$lineColor: 			$nomosLine;
$borderColor: 		$nomosLine;
$highlightColor: 	rgba(255,255,255,.1);
$backgroundColor: #001e33;
$padding:					8px;

$green: #ccf50b;
$orange: rgba(245, 167, 11, 1);

$cardShadow: 0 1px 16px -4px rgba(0,0,0,.15);
$cardShadowHover: 0 3px 24px -4px rgba(0,0,0,.35);

/*
html {
  box-sizing: border-box;
}
*/
*, *:before, *:after {
  box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
	// background: $nomosLightLightGrey;
	background: #f3f3f3;
	font-family: helvetica, sans-serif;
	// width: 100%;
	// height: 100%;
	color: #fff;
	color: $textColor;
}
body{
	font-family: 'Source Sans Pro',helvetica, sans-serif;
}
h1, h2, h3, h4 {
	font-weight: normal;
	color: $textColor;
}
h1{
	font-weight: 100;
	// font-size: 2em;
	font-size: 24px;
}
h3{
	font-size: 1.4em;
	font-weight: 100;
	margin: 8px 0;
}
h4{
	text-transform: uppercase;
  font-weight: normal;
 //  letter-spacing: .09em;
	font-size: 13px;
  // margin-top: 3em;
  margin-bottom: 8px;
}
a{
	color: #fff;
}

.button{
	display: inline-block;
	padding: $padding $padding*2;
	text-transform: uppercase;
	color: $textColor;
	background: $highlightColor;
	// border: 1px solid $borderColor;
	float: right;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
	&.left{
		float: none;
	}
	&.isSelected{
		background: $textColor;
		color: $backgroundColor;
	}
	&:hover{
		background: $textColor;
		color: $backgroundColor;
		box-shadow: 0 0 4px -2px rgba(255,255,255,.4);
	}
	+ .button{ margin-left: 2px; margin-right: 2px;}
}
.Row{
	&.hasDivider{
		border-top: 1px dotted $lineColor;
		margin-top: 8px;
		padding: 24px 0;
	}
	&.hasPadding{
		padding: 16px;
	}
}
.subtitle{
	display: block;
	font-weight: normal;
	padding: 0;
	margin: 0;
	color: $nomosGrey;
	text-transform: uppercase;
	font-size: $font-size-small;
}
.tag{
	margin: 2px;
	background: $highlightColor;
	padding: 4px 8px;
	 box-shadow: 0 1px 3px $highlightColor;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	&.isSelected{
		background: $borderColor;
	}
}

.iconItem{
	display: inline-block;
	position: relative;
	transition: transform .3s ease;
	h5{
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 11px;
		transition: opacity .3s ease, translate .3s ease;
	}
	&:hover{
		transform: translate3d(0, -12px, 0);
		.icon{
		}
		h5{
			opacity: 1;
			transform: translate3d(0, 4px, 0);
		}
	}
}

.tooltip{
	background-color: #fff !important;
	color: $backgroundColor !important;
	transition: opacity .5s ease !important;
	opacity: 1 !important;
	text-align: left !important;
	box-shadow: 0 0 8px -2px rgba(0,0,0,.4) !important;
	text-transform: none;
	font-weight: normal;
	text-decoration: none;
}

////////////////////////////////////////
//////////////// FORMS ////////////////
////////////////////////////////////////

input[type="text"], textarea{
	    min-width: 300px;
    padding: 2px 8px;
    border: 1px solid #fff;
    border-radius: 2px;
    line-height: 30px;
    font-size: 14px;
    color: #035994;
}

textarea{
	min-width: 500px;
}