@import '../../global/global.scss';

.Profile{
	animation: slideUp .5s ease-in-out;
	display: block;
	width: 100%;
	margin: 16px 0;
	margin-top: 100px;
	// background: #fff;
  position: relative;
  max-width: 680px;
 // height: 400px;
  margin-left: auto;
  margin-right: auto;
	perspective: 1000px;
	margin-bottom: 100px;

  .editWrap, .closeWrap{
	  position: absolute;
	  right: 0;
	  top: -40px;
	  width: 20px;
	  height: 20px;
	  display: block;
	  z-index: 2;
	  cursor: pointer;
  }
  .editWrap{
	  right: 40px;
	  top: -44px;
  }
  .title{
	  margin-top: 90px;
  }
	.detailEdit{
	}
	.avatarWrap{
		position: absolute;
		left: 50%;
		margin-left: -100px;
		top: -100px;
		width: 200px;
		height: 200px;
		display: block;
		// border: 1px solid #eee;
		background: #fff;
		z-index: 2;
		border-radius: 50%;
		box-shadow: 0 -3px 1px -1px rgba(0,0,0,.1);
		&.isEditing{
			border: 2px solid $nomosBlue;
		}
		.avatarEditButtonWrap{
			position: absolute;
	    top: 110px;
	    right: -40px;
		}
	}
	.editAvatarWrap{
		margin-top: 100px;
		padding-bottom: 16px;
		border-bottom: 1px dashed $nomosLightGrey;
		margin-bottom: 16px;
	}
	.sideb{
		position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    margin: 0;
    z-index: 0;
    display: block;
    background: #f9f9f9;
    padding: 16px;
    padding-top: 100px;
    border-radius: 0 4px 4px 0;
	}
	
	.card{
		width: 100%;
		// height: 100%;
		display: block;
		top:0;
		left: 0;
		border-radius: 4px;
		box-shadow: $cardShadow;
		padding: 24px;
		transition: 0.6s;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		position: absolute;

	}
	.front{
		background: #fff;	
	}
	.back{
		background: #f9f9f9;	
		transform: rotateY(180deg);
	}
	// MODIFIERS
	&.isEditing{
		.card{			  
		}
		.card.front{
			transform: rotateY(180deg);
		}
		.card.back{
			transform: rotateY(0deg);
		}
	}
}

// SLIDE IN ANIMATION
@keyframes slideUp {
  from {
   	opacity: 0;
    transform: translateY(24px);
  }
  to {
   	opacity: 1;
    transform: translateY(0px);
  }
}