@import '../../global/global.scss';

.Orgs{
	animation: .5s slideUp ease;
}

// SLIDE IN ANIMATION
@keyframes slideUp {
  from {
   	opacity: 0;
    transform: translateY(24px);
  }
  to {
   	opacity: 1;
    transform: translateY(0px);
  }
}