@import '../../global/global.scss';

.Icon{
	display: inline-block;
	border: 1px solid $textColor;
	// border-radius: 50%;
  margin: 2px 4px;
  transition: transform .3s ease;
  &.noBorder{
	  border: 0px solid white;
  }
  &.feature{
	  &:hover{
		  g{
			  fill: #fff;
		  }
	  }
  }
  &:hover{
	  // transform: scale3d(1.3, 1.3, 1.3);
	// transform: rotate(360deg);
  }
	&.isHovered{
		
	}
	svg{ //targets the svg elemtn inside the markup
		width: 100%;
		height: 100%;
		line-height: 100%;
	}
	g{
		fill: $textColor;
	}
}