@import '../../global/global.scss';

.UiTopBar{
	display: block;
	height: 48px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  .title{
    text-align: center;
  }
  .headerItem{
    padding: 8px;
    &.hamburgerWrap{
	    padding: 16px;
    }
  }
}