@import '../../global/global.scss';

.MediaItemList{
	display: block;
	.mediaItemWrapper{
		display: block;
		animation: foldIn .3s ease-in-out;
		// transition: .2s opacity ease-in-out;
		opacity: 0;
		&.isVisible{
			opacity: 1;
		}
	  @for $i from 1 through 24 {
	    &:nth-child(#{$i}) { 
	     animation-delay: $animationInterval * $i;
	     transition-delay: $animationInterval * $i;
	    }
	  }

	}
}

@keyframes slideIn {
  from {
   	opacity: 0;
    transform: translateY(24px), scaleY(0);
  }
  to {
   	opacity: 1;
    transform: translateY(0px), scaleY(1);
  }
}
@keyframes foldIn {
  0% {
      opacity: 0;
      transform-style: preserve-3d;
      transform-origin: 50% 0;
		  // transform:scale(1) rotateX(-60deg) translateY(9px);
			transform:scale3d(1, 0, 1) rotateX(-90deg) translateY(50px);
			// transform:scale3d(1, 0, 1) rotateX(-90deg) translateY(0);
  }
  100% {
      opacity: 1;
      transform-style: preserve-3d;
      transform-origin: 50% 0;
			transform: scale3d(1, 1, 1) rotateX(0deg)  translateY(0) ;
 }
}
