@import '../../global/global.scss';

.ChatMessage{
	margin-bottom: 8px;
	// opacity: 0;
	position: relative;
	display: block;
	// animation: Appear .3s  ease-in-out;
	animation-delay: 0;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-name: Appear;
	.message{
		background: #f9f9f9;
		border-radius: 3px;
		padding: 8px;
		//max-width: 400px;
		margin: 4px 0 8px;
		position: relative;
		box-shadow: 1px 1px 4px -1px rgba(0,0,0,.1);
		.triangle{
			width: 12px;
			height: 12px;
			background: #f9f9f9;
			display: block;
			position: absolute;
			bottom: -6px;
			left: 16px;
			margin-left: auto;
			margin-right: auto;
			transform: rotate(45deg);
			box-shadow: 1px 1px 1px -1px rgba(0,0,0,.1);
		}
	}

	.messageMeta{
		width: 100%;
		.user{
			display: inline-block;
			height: 32px;
			padding: 4px 8px;
			padding-top: 0;
			margin-right: 8px;
			vertical-align: middle;
			line-height: 32px;
		}
		.username{
			margin-left: 8px;
			color: $nomosGrey;
			font-size: 12px;
		}
		.date{
			display: inline-block;
			height: 32px;
			vertical-align: middle;
			line-height: 32px;
			float: right;
			}
	}
	// SLIDE IN ANIMATION
/*
	@keyframes Appear {
	  from {
	   	opacity: 0;
	    transform: translateY(24px), scaleY(0%);
	  }
	  to {
	   	opacity: 1;
	    transform: translateY(0px), scaleY(100%);
	  }
	}
*/
}

:global {
    @keyframes (Appear {
		  from {
		   	opacity: 0;
		    transform: translateY(24px), scaleY(0);
		  }
		  to {
		   	opacity: 1;
		    transform: translateY(0px), scaleY(1);
		  }
		}
}
