	@import '../../global/global.scss';

.App{
	background: linear-gradient(-12deg, #ccc, #f3f3f3);
	min-height: 100%;
	lost-utility: clearfix;
	&.isConnecting{
		.appLoading{
			opacity: 1;
			&.centered{
				display: flex;
			}
		}
		.appContent{
			opacity: 0;
		}
	}
	&.isLoading{
		.appLoading{
			opacity: 1;
			&.centered{
				display: flex;
			}
		}
		.appContent{
			opacity: 0;
		}
	}
	.appLoading{
		opacity: 0;
		display: none;
		text-align: left;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 152;
		transition: opacity .3s ease;
		&.centered{
			display: none;
		  align-items: center;
		  justify-content: center;
		}
		.loadingMessage{
			text-align: center;	
			font-style: italic;
			position: relative;
			.loadingText{
				position: absolute;
				top: 60%;
				color: $nomosGrey;
				padding-top: 8px;
			}
		}
	}
	////////////////////
	///// STRUCTURE
	////////////////////
	// @lost flexbox flex;
	.footer{
		// min-height: 156px;
		margin-top: 16px;
		position: relative;
		padding-top: 16px;
		clear: both;
	}
	.appContent{
		// lost-center: 1380px;
		margin-left: auto;
		margin-right: auto;
		// max-width: 1380;
		max-width: 1272px;
		z-index: 2;
		position: relative;
		padding: 0 32px;
	}
	.orgNav{
		display: block;
		// transition: .3s transform ease;
		animation: slideUp .7s ease-in-out;
	}
	////////////////////
	///// CARD
	////////////////////
	.card{
		width: 260px;
		height: 300px;
		border-radius: 4px;
		background: #fff;
		display: inline-block;
		position: relative;
		box-shadow: $cardShadow;
		margin-right: 24px;
		margin-bottom: 24px;
		float: left;
		&:hover{
			box-shadow: $cardShadowHover;
			cursor: pointer;
		}
		.cardImage{
			width: 100%;
			height: 100px;
			background: #f9f9f9;
			border-radius: 4px 4px 0 0;
			text-align: center;
			padding-top: 32px;
		}
		.cardContent{
			padding: 8px;
		}
		.cardButton{
			width: 32px;
			height: 32px;
			border-radius: 100%;
			display: block;
			position: absolute;
			background: #eee;
			bottom: 16px;
			right: 16px;
		}
	}

}


// SLIDE IN ANIMATION
@keyframes slideUp {
  from {
   	opacity: 0;
    transform: translateY(24px);
  }
  to {
   	opacity: 1;
    transform: translateY(0px);
  }
}